.profilePhoto{
    max-width: 50px;
    min-height: 50px;
    border-radius: 10px;
}
.buttonPenawaranTerima {
    background-color: #7126B5;
    height: 40px;
    border: 1px solid #7126B5;
    border-radius: 15px;
    color: white;
}

.buttonPenawaranTerima:hover {
    background-color: white;
    color: #7126B5;
    font-weight: 600;
    height: 40px;
    border: 1px solid #7126B5;
    border-radius: 15px;
}

.buttonMatchTerima{
    background-color: #7126B5;
    height: 40px;
    border: 1px solid #7126B5;
    border-radius: 15px;
    color: white;
}

.buttonPenawaranTolak {
    background-color: white;
    height: 40px;
    border: 1px solid #7126B5;
    border-radius: 15px;
}

.buttonPenawaranTolak:hover {
    background-color: rgb(240, 240, 240);
    height: 40px;
    font-weight: 600;
    border: 1px solid #7126B5;
    border-radius: 15px;
}

.backlogo{
    margin-bottom: 2px;
    margin-right: 10px;
}

.textSecondary{
    font-size: 12px;
    color: #818181;
}

.iconUnread{
    font-size: 12px;
    color: red;
}

.iconRead{
    display: none;
    font-size: 12px;
}

.produkText{
    font-weight: 600;
    margin-top: 20px;
}

.textNama{
    font-weight: 500;
}

.textKota{
    font-size: 14px;
    color: #818181;
    display: flex;
    align-items: center;
}

/* Modals Terima */

.modalTitle{
    font-weight: 600;
}

.modalDescription{
    color: #818181;
}

.text{
    font-size: 14px;
}

.dataContainer{
    background-color: #EEEEEE;
}

/* Modals Status */

.modalStatusTitle{
    font-size: 16px;
    font-weight: 600;
}

.buttonKirim {
    background-color: #7126B5;
    height: 40px;
    border: 1px solid #7126B5;
    border-radius: 15px;
    color: white;
}

.buttonKirim:hover {
    background-color: white;
    color: #7126B5;
    font-weight: 600;
    height: 40px;
    border: 1px solid #7126B5;
    border-radius: 15px;
}

.notificationContainer:hover{
    background-color: #f5f5f5;
}

/* Box Notifikasi */

.textDitawar{
    margin-right: 5px;
}

.hargaDitawar{
    color: #04a777;
}

/* Filter Button */

.btn {
    background: #E2D4F0;
    border-radius: 12px;
    font-size: 13px;
    padding: 10px 15px;
    outline: none;
    border: none;
    margin-left: 12px;
}

.btn:hover {
    background: #7126B5;
    color: white;
}

.btn:focus {
    background: #7126B5;
    color: white;
}