:root{
    --basecolor: #7126B5;
    --hovercolor: #54197e;
}

.btn {
    background: #E2D4F0;
    border-radius: 12px;
    font-size: 12px;
    padding: 10px 15px;
    outline: none;
    border: none;
}

.btnSearch {
    background: #7126B5;
    color: #E2D4F0;
    width: 150px;
    border-radius: 12px;
    font-size: 16px;
    padding: 10px 15px;
    outline: none;
    border: none;
}

.btnSearch:hover {
    background: #491779;
}

.btn:hover {
    background: #7126B5;
    color: white;
}

.btn:focus {
    background: #7126B5;
    color: white;
}

.btnActive {
    background: #E2D4F0;
    color: black;
}

.btnActive:hover {
    background: #7126B5;
    color: white;
}

.btnActive:focus {
    background: #7126B5;
    color: white;
}

.cardProduct{
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    padding: 8px 8px 16px;
    width: 181.33px;
    height: 198px;
}

.cardProduct:hover{
    transform: scale(1.1);
    transition: all ease 0.4s;
}

.imgProduct{
    object-fit: cover;
    border-radius: 4px;
    height: 100px;
    width: 165px;
}

.cardTitle{
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: black;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
    word-break: break-all;
    overflow: hidden;
}

.containerCard{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.cardCategory{
    font-size: 10px;
    line-height: 14px;
    color: #8A8A8A;
    position: relative;
    top: 5px;
}

.cardPrice{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: black;
    position: relative;
}

.gede{
    min-height: 60vh;
}

.homepageSort{
    background: #E2D4F0;
    border-radius: 12px;
    font-size: 12px;
    padding: 10px 15px;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    cursor: pointer;
}

.homepageSort::-ms-expand {
    display: none;
}

/* commaText */

.commaText ~ .commaText:not(:empty):before {
    content: ", ";
}

@media only screen and (max-width: 770px) {
    .fi {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .containerCard{
        justify-content: center;
    }

    .productContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    } 
        
}

@media only screen and (max-width: 425px) {
    .categoryContainer{
        transform: translateY(-1%);
        
    }       
}

/* Search */

.searchBar {
    width: 444px;
    border-radius: 16px;
    border: 1px solid lightgray;
    background-color: #EEEEEE;
    font-size: 14px;
    padding: 12px 24px;
    color: #8A8A8A;
  }
  
  .searchBar::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #8A8A8A;
  }

  .wishlistImage{
      width: auto;
      height: 200px;
      margin: 20px 20px 0px 20px;
      border-radius: 16px;
      object-fit: cover;
  }
  
  /* RESPONSIVE AREA */
  @media only screen and (max-width: 470px) {
    .searchBar {
      width: 320px;
    }
  }