.editButton{
    width: 80px;
    height: 30px;
    border: 1px solid #7126B5;
    background-color: white;
}

.editButton:hover{
    border: 1px solid #7126B5;
    background-color: #cab0e2;
    color: black;
}

.svg{
    
}

.profilePhoto{
    max-width: 50px;
    min-height: 50px;
    border-radius: 10px;
}

.categoryContainer:hover .svg{
    filter: invert(13%) sepia(85%) saturate(4371%) hue-rotate(270deg) brightness(94%) contrast(40%);
}

.categoryContainer:hover .textCategory{
    color: #7126B5;
    font-weight: 600;
}

.productContainer {
    padding-right: 1rem;
    padding-left: 1rem;
}

.titleCategory{
    font-weight: 600;
    padding-left: 0.25rem;
}

.kota{
    font-size: 12px;
    color: #8A8A8A;
}

.keteranganCategory{
    font-size: 12px;
    color: #8A8A8A;
}

@media screen and (max-width: 992px) {
    .productContainer {
        margin-top: 1rem;
        padding-right: 0rem;
        padding-left: 0rem;
    }
}