:root{
    --basecolor: #7126B5;
    --hovercolor: #54197e;
}

.daftarJualSaya{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}
.editButton{
    width: 50px;
    height: 30px;
    border: 1px solid #7126B5;
    background-color: white;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    padding: 4px 12px;
    border-radius: 8px;
}

.editButton:hover{
    border: 1px solid #7126B5;
    background-color: var(--hovercolor);
    color: white;
}

.profilePhoto{
    max-width: 50px;
    min-height: 50px;
    border-radius: 10px;
}


.cardContainer{
    padding: 10px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}


.categoryContainer{
    font-weight: 400;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.categoryContainer:hover{
    font-weight: 600;
    cursor: pointer;
    color: var(--basecolor);
    text-decoration: none;
}

.categoryContainerActive{
    font-weight: 600;
    cursor: pointer;
    color: var(--basecolor);
    text-decoration: none;
}


.productContainer {
    padding-right: 1rem;
    padding-left: 1rem;
    justify-content: space-evenly;
}

.titleCategory{
    padding-left: 0.25rem;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.sellerName{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.kota{
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
}

.cardProduct{
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    padding: 8px 8px 16px;
    width: 206.67px;
    height: 203px;
}

.cardProduct:hover{
    transform: scale(1.1);
    transition: all ease 0.4s;
}

.cardProductDiminati{
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    padding: 8px 8px 16px;
    width: 206.67px;
    height: auto;
}

.cardProductDiminati:hover{
    transform: scale(1.1);
    transition: all ease 0.4s;
}

.originalPrice{
    text-decoration: line-through solid red;
}

.imgProduct{
    object-fit: cover;
    border-radius: 4px;
    width: 190.67px;
    height: 100px;
}

.cardTitle{
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: black;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
    word-break: break-all;
    overflow: hidden;
}

.cardCategory{
    font-size: 10px;
    line-height: 14px;
    color: #8A8A8A;
    position: relative;
    top: 5px;
}

.cardPrice{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: black;
}

.cardPriceOriginal{
    color: #ef233c;
    text-decoration: line-through;
}

.cardPriceOffer{
    color: #04a777;
}

.smile{
    width: 100px;
    height: 100px;
}

.smileText{
    font-size: 20px;
    font-style: italic;
}

.commaText ~ .commaText:not(:empty):before {
    content: ", ";
}

.textCategory{
    font-size: 16px;
    line-height: 24px;
    
}

.iconCategory{
    width: 24px;
    height: 24px;
}

.arrow{
    font-size: 24px;
}

.wishlistImage{
    width: 350px;
    height: 350px;
    border-radius: 16px;
    object-fit: cover;
}


@media screen and (max-width: 992px) {
    .productContainer {
        margin-top: 1rem;
        padding-right: 0rem;
        padding-left: 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 576px) {
    .productContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    } 
        
}