:root{
    --basecolor: #7126B5;
    --hovercolor: #54197e;
}

.buttonsimpan{
    border-radius: 16px;
    background-color: var(--basecolor);
    color: white;
    padding: 12px 0 12px 0;
    border-style: none;
}

.buttonsimpan:hover{
    background-color: var(--hovercolor);
}

.forminfo label{
    font-size: 12px;
    margin-bottom: 5px;
}

.forminfo ::placeholder, .forminfo select{
    font-size: 12px;
}

.backlogo{
    position: relative;
    top: 0%;
    left: -10%;
}

.listfile{
    font-size: 12px;
    list-style: none;
    margin-left: -5%;
}

.imgLogin{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

input[type=text], input[type=email] {
    font-size: 12px;
}


@media (max-width:576px){
    .logregRes{
        margin-top: -20%;
    }
}