:root{
  --basecolor: #7126B5;
  --hovercolor: #54197e;
}

nav {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  height: 84px;
}

.navMobile{
  height: 84px;
  position: relative;
  top: -10%;
}

.logoKotak{
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--basecolor);
}
.logoKotak:hover{
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--hovercolor);
}

.iconNav{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(113, 38, 181, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.iconNavBorder{
  border-color: var(--basecolor);
  border-width: 2px;
}

.searchBar {
  width: 444px;
  border-radius: 16px;
  border: 1px solid lightgray;
  background-color: #EEEEEE;
  font-size: 14px;
  padding: 12px 24px;
  color: #8A8A8A;
}

.buttonLogout{
  border: 1px solid #924bd4;
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
  background-color: #7126B5;
}

.searchBar::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8A8A8A;
}

.fiUser, .mdNotif, .aiOutline, .aiSearch{
  width: 24px;
  height: 24px;
  color: var(--hovercolor);
}

.fiUser:hover, .mdNotif:hover, .aiOutline:hover{
  cursor: pointer;
}


.buttonLogin{
  border-radius: 16px;
  background-color: var(--basecolor);
  color: white;
  padding: 14px 16px;
  border-style: none;
  width: 105px;
}

.masuk, .masuk:hover{
  text-decoration: none;
  color: white;
}
.buttonLogout{
  border-radius: 16px;
  background-color: var(--basecolor);
  color: white;
  padding: 14px 16px;
  border-style: none;
  width: 110px;
}
.buttonLogout:hover{
  background-color: var(--hovercolor);
}

.buttonLogin:hover{
  background-color: var(--hovercolor);
}

.ulText li {
  font-size: 14px;
}

.ulText .linkText {
  color: var(--basecolor);
  font-weight: 500;
}

.navBackground{
  position: relative;
  top:10px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}


/* RESPONSIVE AREA */
@media only screen and (max-width: 470px) {
  .searchBar {
    width: 320px;
  }
}

@media only screen and (max-width: 992px) {
  
}